<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75132561534-kduk4lfm3037rqinv0r8dg91slmabfai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75132561534-kduk4lfm3037rqinv0r8dg91slmabfai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75132561534-56lrp3271f83ldov5d24k9aif7949skh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-LVl4WqHDpovt1ZnRE-xjMtqueJVthNw</string>
	<key>GCM_SENDER_ID</key>
	<string>75132561534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.grupopi.reservatuhora</string>
	<key>PROJECT_ID</key>
	<string>reservatuhora-697f4</string>
	<key>STORAGE_BUCKET</key>
	<string>reservatuhora-697f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75132561534:ios:e494c997274b5b2553102f</string>
</dict>
</plist>